.register__input{
  margin: 0;
  padding: 0;
  background-color: black;
  border: none;
  border-bottom: 2px solid #CCCCCC;
  padding-bottom: 13px;
  margin-bottom: 30px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-family: 'Inter';
  color: #CCCCCC;
}